
<nav class="container-fluid pb-3 p-0">
  <div class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Logo</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Каталог</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Поиск чая" aria-label="Поиск">
          <button class="btn hvr-sweep-to-top">Найти</button>
        </form>
      </div>
    </div>
  </div>
</nav>

<section class="header container">
  <header class="container pt-3" style="position: relative; z-index: 5;">
    <div class="slider">
      <div class="slick-slide" style="background-image: url('assets/images/slider/slider001.png');"></div>
    </div>
  </header>

  <div class="faq" style="overflow: hidden">
    <h2 class="h2 text-center p-5"><strong>Часто задаваемые вопросы</strong>
    </h2>
    <div id="accordion" class="accordion">
      <h3 class="p-4 rounded-3 mb-3 bg-primary text-white accordion-header collapsed" id="acc-1">
        <strong>Собираете ли вы подарочные боксы?</strong></h3>
      <div class="border-0">
        <p class="my-2">
          Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
        </p>
      </div>
      <h3 class="p-4 rounded-3 mb-3 bg-primary text-white accordion-header collapsed" id="acc-2">
        <strong>Сколько у вас
          разновидностей чая?</strong></h3>
      <div class="border-0">
        <p class="my-2">
          На данный момент у нас шесть разновидностей чая, но в будущем будут появляться новые!
        </p>
      </div>
      <h3 class="p-4 rounded-3 mb-3 bg-primary text-white accordion-header collapsed" id="acc-3">
        <strong>В какой срок
          осуществляется доставка?</strong>
      </h3>
      <div class="border-0">
        <p class="my-2">
          После вашего заказа, чай привезут вам уже на следующий день в пункт выдачи или курьером по
          вашему
          желанию.
        </p>
      </div>
      <h3 class="p-4 rounded-3 mb-3 bg-primary text-white accordion-header collapsed" id="acc-4">
        <strong>У вас обновляется
          ассортимент?</strong></h3>
      <div class="border-0">
        <p class="my-2">
          Да, мы постоянно обновляем свой ассортимент. За последний месяц мы добавили 2 новых сорта чая.
        </p>
      </div>
      <h3 class="p-4 rounded-3 bg-primary text-white accordion-header collapsed" id="acc-5">
        <strong>Какого объема у вас пачки
          чая?</strong></h3>
      <div class="border-0">
        <p class="my-2">
          Объем одной пачки составляет 250 грамм.
        </p>
      </div>
    </div>
  </div>
</section>

<footer class="container-fluid bg-body-tertiary p-3">
  <a class="navbar-brand">&copy Все права защищены <span class="year"></span></a>
</footer>
