<div class="form col-lg-6 mx-auto pb-5" id="inputForm">
  <h2 class="h2 text-center p-5"><strong>Сделать заказ</strong></h2>
  <form class="row g-3" name="my-form">
    <div class="col-md-4 input-box">
      <label for="inputFirstName" class="form-label">Имя</label>
      <input type="text" class="form-control" id="inputFirstName">
    </div>
    <div class="col-md-4 input-box">
      <label for="inputSecondName" class="form-label">Фамилия</label>
      <input type="text" class="form-control" id="inputSecondName">
    </div>
    <div class="col-4 input-box">
      <label for="inputPhone" class="form-label">Телефон</label>
      <input type="text" class="form-control" id="inputPhone">
    </div>
    <div class="col-6 input-box">
      <label for="inputCountry" class="form-label">Страна</label>
      <input type="text" class="form-control" id="inputCountry">
    </div>
    <div class="col-md-6 input-box">
      <label for="inputZip" class="form-label">Индекс</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
    <div class="col-md-12 input-box">
      <label for="inputAddress" class="form-label">Адрес</label>
      <input type="text" class="form-control" id="inputAddress">
    </div>
    <div class="col-12 input-box">
      <button type="submit" class="btn hvr-sweep-to-top out">Заказать</button>
    </div>
  </form>
</div>
<div class="form-text mt-5 p-3 border border-success rounded h3 text-center text-light bg-success"
     id="form-message">
  <span>Спасибо за заказ. Мы свяжемся с вами в ближайшее время!</span>
</div>
