<body>
<nav class="container-fluid pb-3 p-0">
  <div class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Logo</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Преимущества</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Цены</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Контакты</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Поиск чая" aria-label="Поиск">
          <button class="btn hvr-sweep-to-top">Найти</button>
        </form>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <header class="container pt-3" style="position: relative; z-index: 5;">
    <div class="slider">
      <div class="slick-slide" style="background-image: url('assets/images/slider/slider001.png');"></div>
    </div>
  </header>

  <main class="container">
    <div class="row">
      <div class="col-12 h1 text-center p-5" style="position: relative; z-index: 5;">
        <strong>Наши чайные коллекции</strong>
      </div>
    </div>
    <div class="row gy-5">
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 d-flex align-items-stretch">
        <div class="card">
          <a href="assets/images/cards/card01.png" class="card-img-top image-popup-zoom">
            <img src="assets/images/cards/card01.png" alt="card-tea" class="card-img-top">
          </a>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Детокс чай лайм</h5>
            <p class="card-text">Великолепный чай внесет в вашу жизнь яркие краски и вкус расслабления</p>
            <a href="#" class="btn btn-wide hvr-sweep-to-top mt-auto">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 d-flex align-items-stretch">
        <div class="card">
          <a href="assets/images/cards/card02.png" class="card-img-top image-popup-zoom">
            <img src="assets/images/cards/card02.png" alt="card-tea" class="card-img-top">
          </a>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Ягодный чай</h5>
            <p class="card-text">Нотки ягод позволят вам расслабиться и насладиться великолепием этого
              чая</p>
            <a href="#" class="btn btn-wide hvr-sweep-to-top mt-auto">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 d-flex align-items-stretch">
        <div class="card">
          <a href="assets/images/cards/card03.png" class="card-img-top image-popup-zoom">
            <img src="assets/images/cards/card03.png" alt="card-tea" class="card-img-top">
          </a>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Цветочный чай</h5>
            <p class="card-text">Душистые цветы создают невероятный аромат и наполняют вас энергией</p>
            <a href="#" class="btn btn-wide hvr-sweep-to-top mt-auto">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 d-flex align-items-stretch">
        <div class="card">
          <a href="assets/images/cards/card04.png" class="card-img-top image-popup-zoom">
            <img src="assets/images/cards/card04.png" alt="card-tea" class="card-img-top">
          </a>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Очищающий чай</h5>
            <p class="card-text">Бесподобный чай для получения утреннего заряда бодрости</p>
            <a href="#" class="btn btn-wide hvr-sweep-to-top mt-auto">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 d-flex align-items-stretch">
        <div class="card">
          <a href="assets/images/cards/card05.png" class="card-img-top image-popup-zoom">
            <img src="assets/images/cards/card05.png" alt="card-tea" class="card-img-top">
          </a>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Кислый чай</h5>
            <p class="card-text">Кислый чай для настоящих ценителей кислинки во время чаепития</p>
            <a href="#" class="btn btn-wide hvr-sweep-to-top mt-auto">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 d-flex align-items-stretch">
        <div class="card">
          <a href="assets/images/cards/card06.png" class="card-img-top image-popup-zoom">
            <img src="assets/images/cards/card06.png" alt="card-tea" class="card-img-top">
          </a>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Лимонная мята</h5>
            <p class="card-text">Смесь лимона с мятой сделает ваш день самым лучшим</p>
            <a href="#" class="btn btn-wide hvr-sweep-to-top mt-auto">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </main>


  <div class="faq" style="overflow: hidden">
    <h2 class="h2 text-center p-5"><strong>Часто задаваемые вопросы</strong>
    </h2>
    <div id="accordion" class="accordion">
      <h3 class="p-4 rounded-3 mb-3 bg-primary text-white accordion-header collapsed" id="acc-1">
        <strong>Собираете ли вы подарочные боксы?</strong></h3>
      <div class="border-0">
        <p class="my-2">
          Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
        </p>
      </div>
      <h3 class="p-4 rounded-3 mb-3 bg-primary text-white accordion-header collapsed" id="acc-2">
        <strong>Сколько у вас
          разновидностей чая?</strong></h3>
      <div class="border-0">
        <p class="my-2">
          На данный момент у нас шесть разновидностей чая, но в будущем будут появляться новые!
        </p>
      </div>
      <h3 class="p-4 rounded-3 mb-3 bg-primary text-white accordion-header collapsed" id="acc-3">
        <strong>В какой срок
          осуществляется доставка?</strong>
      </h3>
      <div class="border-0">
        <p class="my-2">
          После вашего заказа, чай привезут вам уже на следующий день в пункт выдачи или курьером по
          вашему
          желанию.
        </p>
      </div>
      <h3 class="p-4 rounded-3 mb-3 bg-primary text-white accordion-header collapsed" id="acc-4">
        <strong>У вас обновляется
          ассортимент?</strong></h3>
      <div class="border-0">
        <p class="my-2">
          Да, мы постоянно обновляем свой ассортимент. За последний месяц мы добавили 2 новых сорта чая.
        </p>
      </div>
      <h3 class="p-4 rounded-3 bg-primary text-white accordion-header collapsed" id="acc-5">
        <strong>Какого объема у вас пачки
          чая?</strong></h3>
      <div class="border-0">
        <p class="my-2">
          Объем одной пачки составляет 250 грамм.
        </p>
      </div>
    </div>
  </div>

  <div class="form col-lg-6 mx-auto pb-5" id="inputForm">
    <h2 class="h2 text-center p-5"><strong>Сделать заказ</strong></h2>
    <form class="row g-3" name="my-form">
      <div class="col-md-4 input-box">
        <label for="inputFirstName" class="form-label">Имя</label>
        <input type="text" class="form-control" id="inputFirstName">
      </div>
      <div class="col-md-4 input-box">
        <label for="inputSecondName" class="form-label">Фамилия</label>
        <input type="text" class="form-control" id="inputSecondName">
      </div>
      <div class="col-4 input-box">
        <label for="inputPhone" class="form-label">Телефон</label>
        <input type="text" class="form-control" id="inputPhone">
      </div>
      <div class="col-6 input-box">
        <label for="inputCountry" class="form-label">Страна</label>
        <input type="text" class="form-control" id="inputCountry">
      </div>
      <div class="col-md-6 input-box">
        <label for="inputZip" class="form-label">Индекс</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="col-md-12 input-box">
        <label for="inputAddress" class="form-label">Адрес</label>
        <input type="text" class="form-control" id="inputAddress">
      </div>
      <div class="col-12 input-box">
        <button type="submit" class="btn hvr-sweep-to-top out">Заказать</button>
      </div>
    </form>
  </div>
  <div class="form-text mt-5 p-3 border border-success rounded h3 text-center text-light bg-success"
       id="form-message">
    <span>Спасибо за заказ. Мы свяжемся с вами в ближайшее время!</span>
  </div>
</div>

<footer class="container-fluid bg-body-tertiary p-3">
  <a class="navbar-brand">&copy Все права защищены <span class="year"></span></a>
</footer>
</body>
