textarea {
  width: 100%; /* Ширина поля в процентах */
  height: 90px; /* Высота поля в пикселях */
  resize: none; /* Запрещаем изменять размер */
}

.invalid-feedback {
  display: block !important;
  color: red !important;
  font-size: 14px;
}

