* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.hvr-sweep-to-top {
  transition-duration: 0.3s;
  border: 1px solid #0d6efd;
}

.hvr-sweep-to-top:hover {
  border: 1px solid #0d6efd;
}

.hvr-sweep-to-top:before {
  border-radius: 4.5px;
  transition-duration: 0.4s;
  background: #0d6efd;
}

:not(.btn-check) + .btn:active {
  color: #FFF;
  border-color: transparent;
}

.slider {
  position: relative;
}

.slick-slide {
  height: 640px;
  background-size: cover;
  background-position: center;
  display: flex !important;
  align-items: center;
  justify-content: start;
}

.btn-wide {
  width: 170px;
  outline: none;
}

.btn-wide:hover {
  background: transparent;
  border: 1px solid #0d6efd;
}

.accordion-header {
  cursor: pointer;
  position: relative;
}


.accordion-header.collapsed::after {
  transform: translateY(-10%) rotate(45deg);
}

.error .form-control {
  border-color: red;
}

.error-label {
  display: block;
  color: red;
  margin-bottom: 5px;
}

input.ng-invalid.ng-dirty,
input.ng-invalid.ng-touched {
  border-color: red;
}

.invalid-feedback {
  display: block;
}

.accordion-header {
  padding-bottom: 5px !important;
}

/* Стилизация заголовка accordion */
.accordion-button {
  background-color: #0d6efd !important;
  color: white !important;
  border-radius: 5px !important;
}

.accordion-button:focus {
  border: none !important;
}

/* Стилизация активного заголовка */
.accordion-button:not(.collapsed) {
  background-color: #fd0d0d;
  color: #0d6efd;
}

/* Стилизация содержимого */
.accordion-body {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-top: none;
}

/* Белые стрелки по умолчанию */
.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

/* Белые стрелки в активном состоянии (когда аккордеон открыт) */
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}


/* Importing Bootstrap SCSS file. */
@import '../node_modules/bootstrap/scss/bootstrap.scss';
